{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">


  <link rel="preload" as="image" href="{% static 'img/1.webp' %}">
  <link rel="preload" as="image" href="{% static 'img/2.webp' %}">
  <link rel="preload" as="image" href="{% static 'img/3.webp' %}">
  <link rel="preload" as="image" href="{% static 'img/4.webp' %}">
  <link rel="preload" as="image" href="{% static 'img/5.webp' %}">
  <link rel="preload" as="image" href="{% static 'img/6.webp' %}">
  <link rel="preload" as="image" href="{% static 'img/7.webp' %}">


  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
  <link rel="stylesheet" href="{% static 'css/swiper.css' %}">

  <title>Храм</title>
</head>
<body>
  <div id="preloader">
    <div class="spinner"></div>
  </div>
  
<div class="church-header">
  <h1 class="church-title">
    Приход Храма Благовещения Пресвятой Богородицы <br> 
    Туровской Епархии Белорусской Православной Церкви <br> 
    (Белорусского Экзархата Московского Патриахата)
    <div class="krest">
      <img src="{% static 'images/krest.svg' %}" width="130px" alt="Крест">
    </div>
  </h1>

  <div class="menu">
    <div class="menu-buttons">
      <button class="menu-btn">Расписание богослужений</button>
      <button class="menu-btn">Контакты</button>
      <a href="/build" class="menu-btn">Строительство</a>
      <a href="/news" class="menu-btn">Новости</a>
    </div>
  </div>
</div>
  <main>
    <div class="container">
      <div class="text">
        Двери храма открыты для вас</br>
        Ежедневно с 9:00 до 19:00</br>
        По адресу: агрогородок Прудок, улица молодежная 1а</br>
        Телефон: +375297367573</br>
      </div>
      <div class="ikona">
        <img src="{% static 'images/reve-image (11).jpeg' %}">
      </div>
    </div>
    <div class="hram">
      <img src="{% static 'img/1.png' %}">
    </div>
    <div class="container">
      <div class="text">
        Проект будущего храмового комплекса  Пресвятой Богородицы.</br>
      </br>
        Дорогие друзья, строительство храма - это полностью благотворительный проект. Мы не справимся без вашей помощи. Ваши пожертвования направляются на возведение уникального храма в честь святителя Спиридона Тримифунтского Чудотворца. Сердечно благодарим вас за участие!
      </div>
    </div>
    <div class="poshertvovie">Пожертвования</div>
    <div class="container2">
      <div class="poshertvovie_card">
        <div class="card-content">
          <div class="img-title"><img src="{% static 'images/reve-image (13).jpeg' %}"></div>
          <div class="card-title">Именной кирпич</div>
          <p class="card-description">
            Примите участие в великом деле возрождения духовности и строительства храма, который станет местом мира и веры для поколения наших детей и внуков. Ваше пожертвование станет частью его стен, а имя будет увековечено на именном кирпиче – символе вашей поддержки и преданности.
          </p>
          <button class="donate-btn">Пожертвовать</button>
        </div>
      </div>
      <div class="poshertvovie_card">
        <div class="card-content">
          <div class="img-title"><img src="{% static 'images/reve-image (10).jpeg' %}"></div>
          <div class="card-title">Мы не справимся без вашей помощи!</div>
          <p class="card-description">
            Примите участие в благородной миссии — строительстве храма, который станет местом мира, веры и вдохновения для всех поколений. Ваше пожертвование поможет создать святую обитель, где каждый сможет найти гармонию и душевное спокойствие.
          </p>
          <button class="donate-btn">Пожертвовать</button>
        </div>
      </div>
    </div>
      <section id="tranding">
        <div class="container5">
          <div class="swiper tranding-slider">
            <div class="swiper-wrapper">
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="{% static 'img/1.png' %}" alt="Tranding">
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="{% static 'img/2.png' %}" alt="Tranding">
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="{% static 'img/3.png' %}" alt="Tranding">
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="{% static 'img/4.png' %}" alt="Tranding">
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="{% static 'img/5.png' %}" alt="Tranding">
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="{% static 'img/6.png' %}" alt="Tranding">
                </div>
              </div>
              <!-- Slide-end -->
              <!-- Slide-start -->
              <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="{% static 'img/7.png' %}" alt="Tranding">
                </div>
              </div>
              <!-- Slide-end -->
            </div>
            <div class="tranding-slider-control">
              <div class="swiper-button-prev slider-arrow"></div>
              <div class="swiper-button-next slider-arrow"></div>
              <div class="swiper-pagination"></div>
            </div>

          </div>
        </div>
      </section>
    <div class="raspisanie_title">
      Расписание богослужений   в  Храме 
      Благовещения  Пресвятой Богородицы
    </div>
    <div class="raspisanie">
  <img src="{% static 'images/yzor2.svg' %}" height="139px" width="386px">
  <div class="slider-container2">
    <div class="slider2">
      {% for item in schedule %}
        <div class="card">
          {% if item.image %}
            <img src="{{ item.image.url }}">
          {% endif %}
          <div class="card-content">
            <h3 class="card-title">{{ item.title }}</h3>
            <p class="card-description">{{ item.description }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

    <div class="link">
      Ссылки на другие православные сайты
    </div>
    <hr class="custom-line">
    <div class="link-container">
        <a href="https://turov.by/" class="btn">Туровская епархия</a>

        <a href="http://church.by/" class="btn">Белорусская Православная Церковь</a>
    </div>
    <div class="avatar">
      <img src="{% static 'img/viktor.jpg' %}">
      <p>Священник Виктор Михайлович</p>
    </div>
    <hr class="line">
  </main>
  <div class="title_fot">
    Храм Благовещения Пресвятой Богородицы
    <img src="{% static 'images/krest.svg' %}">
  </div>
  <footer>
    <div class="footer-column">
      <h4>Адрес</h4>
      <p>
        Беларусь, Гомельская область,</br>
        мозырский район, агрогородок Прудок, ул молодежная 1а
      </p>
      <h4>Контакты</h4>
      <p>
        +375-29-736-75-73</br>
        hram.spiridona@gmail.com</br>
      </p>
      <p>
        © 2024 Приход Храма Благовещения Пресвятой Богородицы </br>
        Все права защищены
      </p>
    </div>
    <div class="footer-column">
      <h4>Навигация</h4>
      <ul>
        <li><a href="#">Пожертвования</a></li>
        <li><a href="#">Строительство</a></li>
        <li><a href="#">Рассписание</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </div>

  </footer>
  <div class="map-section">
  <script type="text/javascript" charset="utf-8" async
    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae9702ed9bc510b3c47e6ca0c9ff4347ba0e2fdeb60b669256639308878cfe340&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=true">
  </script>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
